<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>예시</h1>
<span th:text="${modelData}">HTML 데이터</span>

<h2>1. 표준 HTML 주석</h2>
<!--
<span th:text="${modelData}">html data</span> -->

<h2>2. 타임리프 파서 주석 (거의 이 기능을 많이 사용함)</h2>
<!--/* [[${modelData}]] */-->
<!--/*
<span th:text="${modelData}">html data</span> */-->

<!--/*--> 여기 모두 생략됨
<span th:text="${modelData}">HTML 데이터</span>
<!--*/-->

<h2>3. 타임리프 프로토타입 주석</h2>
<!--/*/
<span th:text="${modelData}">html data</span> /*/-->

</body>
</html>