<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!-- 자바스크립트 인라인 사용 전 -->
<script>
    var name = [[${penguin.name}]];
    var weight = [[${penguin.weight}]];

    //자바스크립트 내추럴 템플릿
    var penguinName = /*[[${penguin.name}]]*/ "test penguin name";

    //객체
    var penguin = [[${penguin}]];
</script>

<!-- 자바스크립트 인라인 사용 후 -->
<script th:inline="javascript">
    var name = [[${penguin.name}]];
    var weight = [[${penguin.weight}]];

    //자바스크립트 내추럴 템플릿
    var penguinName = /*[[${penguin.name}]]*/ "test penguin name";

    //객체
    var penguin = [[${penguin}]];
</script>


<!-- 자바스크립트 인라인 each -->
<script th:inline="javascript">

    [# th:each="penguin, stat : ${penguins}"]
    var penguin[[${stat.count}]] = [[${penguin}]];
    [/]

</script>

</body>
</html>
