<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<h1>SpringEL 표현식</h1>
<ul>Object
    <li>${penguin.name} = <span th:text="${penguin.name}"></span></li>
    <li>${penguin['name']} = <span th:text="${penguin['name']}"></span></li>
    <li>${penguin.getName()} = <span th:text="${penguin.getName()}"></span></li>
</ul>
<ul>List
    <li>${penguins[0].weight} = <span th:text="${penguins[0].weight}"></span></li>
    <li>${penguins[1]['weight']} = <span th:text="${penguins[1]['weight']}"></span></li>
    <li>${penguins[2].getWeight()} = <span th:text="${penguins[2].getWeight()}"></span></li>
</ul>
<ul>Map
    <li>${penguinMap['gentoo'].name} = <span th:text="${penguinMap['젠투 펭귄'].name}"></span></li>
    <li>${penguinMap['emperor']['name']} = <span th:text="${penguinMap['황제 펭귄']['name']}"></span></li>
    <li>${penguinMap['갈라파고스 펭귄'].getName()} = <span th:text="${penguinMap['갈라파고스 펭귄'].getName()}"></span></li>
</ul>

<h1>지역 변수 - (th:with)</h1>
<div th:with="second=${penguins[1]}">
    <p>두 번째 펭귄의 이름은 <span th:text="${second.name}"></span> </p>
</div>

</body>
</html>
